* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    margin: 0;
    background-color: antiquewhite;
    padding: 0;
}
main#principal{
    width: 100vw;
    height: 100vh;
    background-color: #1726f3c0;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#login{
    background-color: #1726f379;
    
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    text-shadow: 0px 0px 5px black;
    flex-direction: column;
}
section#login > h1{
    text-align: center;
}
section#login > p > label{
    
    
    margin-top: -20px;
    margin-bottom: 6px;
    
}
section#login > p > input{
    border-radius: 10px 10px;
    padding: 5px 5px;
    background-color: rgb(0, 162, 255);
    border: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.267);
    
}
section#login > p > input#mail{
    margin-bottom: -20px;
    padding-bottom: -15px;
}
section#login > input#bnt{
    width: 90%;
    border: 0;
    background-color: aquamarine;
    border-radius: 10px 10px;
    padding: 5px 0px;
    cursor: pointer;
}
section#login > input#bnt:hover{
    background-color: azure;

}
section#login > p > input:hover{
    background-color: aliceblue;
}